*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.square-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.square {
    width: 200px;
    height: 200px;
    background-color: crimson;
    margin: 2rem;
}